/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:ital,wght@1,200&display=swap');

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Macondo', sans-serif;
    background-color: #4b3343;
}

.info-box {
    margin: 2% auto;
    width: 550px;
    height: 400px;
    /*font: #fff;*/
    border-radius: 6px;
    box-shadow: 0 0 10px 3px;
    background: url('../images/background4.jpg') no-repeat center center;
}

h1 {
    font-size: 40px;
    color: #000;
    text-align: center;
    border-bottom: 2px solid #000000;
}
h2 {
    float: left;
    color: #000000;
}

p {
    line-height: 40px;
    color: #000000;
    font-size: 20px;
}

.info {
    text-align: center;
    color: aliceblue;
    margin: 4% auto;
    padding: 1% 60%;

}

.container {
    width: 400px;
    max-width: 80%;
    background-color: #f8a5a0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 3px;
    margin: auto;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    border-color: #1b0735;
    color: #000000;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: #1b0735;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #f8a5a0;
    width: 100%;
}

.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    color: #ffff;
    background-color: #f8a5a0;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}