/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Macondo, sans-serif;
}

.hero {
    max-width: 100%;
    width: 2500px;
    margin: 0;
    padding: 0;
}

.start__btn, .info__box, .quiz__box, .result__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start Button Styling */
.start__btn button {
    font-size: 35px;
    font-weight: 400;
    color: #504206;
    padding: 25px 35px;
    outline: none;
    border: none;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
}



.start__btn, .info__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 9px 0 #5c5b5b,
                0px 6px 25px 0 #8a8888;
    transition: all 0.3s ease;            
}

/* Content Quiz box styling */
/* aking Content Quiz box hiden */
.info__box {
    display: none;
    width: 540px;
    background: #eee8b69f;
    border-radius: 6px;
}

.info__box .info__title {
    height: 60px;
    width: 100%;
    border-bottom: 2px solid #f7e68449;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 25px;
    font-weight: 620;
    }

    .info__box .info__list {
        padding: 15px 35px
    }

    .info__box .info__list .info {
        margin: 6px 0;
        font-weight: 600;
    }

    .info__box .info__list .info span {
        font-weight: 700;
        color: #f78a25e1;
    }

    /* Inof box buttons styling */
    .info__box .buttons {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 35px;
        border-top: 1px solid #a9a9a9a2;
    }

    .info__box .buttons button {
        margin: 0 5px;
        height: 35px;
        width: 100px;
        border: 1px solid #6e5605;
        border-radius: 2px;
        font-size: 18px;
        font-weight: 550;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .buttons button.quit {
        color: #000000;
        border-color: #000000;
    }

    .buttons button.quit:hover {
        color: #000000;
        border-color: #000000;
        background: #ffedc6; /* Not reacting? */
    }

    .buttons button.restart {
        color: #000000;
        border-color: #000000;
    }
    
    .buttons button.restart:hover {
        background: #ffedc6;
    }

/* quiz box styling */
/* making quiz box hiden */
.quiz__box {
    display: none;
    width: 550px;
    background: #eee8b69f;
    border-radius: 5px;
}

.quiz__box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #eee8b69f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 2px #000000(0,0,0,0.2);
}

.quiz__box header .title {
    font-size: 12px;
    font-weight: 550;
}

.quiz__box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 40px;
    background: #cce5ff;
    border: 1px solid #2377cf;
    border-radius: 5px;
    padding: 0 10px;
}

.quiz__box header .timer .timer__text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz__box header .timer .timer__sec {
    font-size: 18px;
    font-weight: 450;
    background: #295179;
    height: 30px;
    width: 40px;
    color: #ffedc6;
    text-align: center;
    line-height: 30px;
    border-radius: 7px;
    border: 1px solid #ffedc6;
    user-select: none;
}

.quiz__box section {
    padding: 30px 35px 25px 35px;
    background: #ffedc6;
}

.quiz__box section .que__text {
    font-size: 14px;
    font-weight: 400;
}

.quiz__box section .option__list {
    padding: 20px 0;
    display: block;
}

section .option__list .option {
    background: #f0f8ff;
    border: 1px solid #295179;
    border-radius: 6px;
    padding: 9px 17px;
    margin-bottom: 17px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option__list .option:hover {
    color: #0b3b47;
    background: #cce5ff;
    border-color: #0d0f99;
}

section .option__list .option:last-child {
    margin-bottom: 0px;
}

.option__list .option .icon {
    height: 27px;
    width: 27px;
    border: 4px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    pointer-events: none;
}

.option__list .option .icon.tick {
    color: #128d64;
    border-color: #128d64;
    background: #d1fff0;
}

.option__list .option .icon.cross {
    color: #c90808;
    border-color: #c90808;
    background: #f8e1e1;
}

/* Quiz box footer styling*/
.quiz__box footer {
    height: 65px;
    width: 100%;
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz__box footer .total__que span {
    display: flex;
    user-select: none;
}

footer .total__que span p {
    font-weight: 650;
    padding: 0 5px;
}

.total__que span p:first-child {
    padding: 0px;
}

footer .next__btn {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #3f3403;
    background: #ffedc6;
    border-radius: 5px;
    border: 1px solid #504206;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next__btn:hover {
    background: #83bfff;
}

/* Last resul box styling */
.result__box {
    background: #ffedc6; 
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result__box .icon {
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

